.band-hero{
  background-image:url("../images/BandImage.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  height:504px;
  background-position: left center;
}

.band-members {
  padding-bottom:30px;
  .band-members-description {
    .band-members-descriptions-inner {
      max-width: 700px;
      margin: 0 auto;

    }

    .band-member-text {
      margin-top: 15px;
    }
  }
}
