@import "variables";
nav.main-nav{
  border-bottom: 1px solid white;
  background-image:url('../images/YoungAmericansLogo.png');
  background-position:15px;
  background-repeat:no-repeat;
  background-size: 176px 87px;
  height: 115px;
  padding: 0 0 30px 30px;


  ul{
    list-style-type:none;
    display:flex;
    margin-top:48px;

    li{
      display:inline-block;
      font-family: "Montserrat","Source Sans Pro",sans-serif;
      padding-right:15px;

      a{
        color:@young-americans-red;
        font-weight:bold;


        &:hover{
          text-decoration:none;
          color:@young-americans-red;
          opacity:0.8;
        }
      }
    }
  }
}