
.index-hero{

  height: 670px;

  .index-hero-right{
    background-image:url('../images/David-Bowie-Young-Americansbanner.jpg');
    background-repeat:no-repeat;
    background-position: center right;
    background-size:contain;
    height:100%;


  }

  @media screen and (max-width: 768px) {
    .index-hero-right {
      margin-top: 25px;
      background-position: center;
    }
  }


  .index-hero-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 50px;
  }

}

.index-description{

  .index-description-content {
    text-align: center;
    padding-top:50px;
    padding-bottom:50px;


    h2 {
      font-size:27px;
    }

    ul {
      list-style-type: none;

      li {
        color: #FFF;
        font-size: 20px;
      }
    }

    p {
      font-size: 40px;
    }
  }
}

.index-secondary-hero{

  div {
    background-image: url('../images/youngamericans.jpeg');
    background-repeat: no-repeat;
    background-position:  center;
    background-size: cover;
    height:360px;
    background-attachment: fixed;
  }
}