@import "includes/bootstrap";
@import "variables";
@import "header";
@import "footer";
@import "index";
@import "band";
@import "gigs";
@import "utility";
@import "nav-menu";


body{
  font-size:16px;
  background-color:#000;
  position: relative;
  width: 100%;
  overflow-x:hidden;
}

.block{
  display:block;
}

.text-center{
  text-align:center;
}

.hero-header{
  text-shadow: 2px 1px 6px #FE0000;
  text-align:center;
  color:@young-americans-yellow;
}
a{cursor:pointer;}

.fluid-img{max-width:100%;height:auto;}

h1{
  font-size:53px;
  text-transform: uppercase;
}

h2{
  font-size:47px;
  text-transform: uppercase;
}

h3{
  font-size:34px;
  text-transform: uppercase;
}

.peach{
  color:@young-americans-peach;
}

.red{
  color:@young-americans-red;
}

.yellow{
  color:@young-americans-yellow;
}

.white{
  color:#FFF;
}

.page-section{
  border-bottom:1px solid #FFF;
  background-color:#000;
  font-family:"Montserrat","Source Sans Pro",sans-serif;
}

.page-section-no-border{
  background-color:#000;
  font-family:"Montserrat","Source Sans Pro",sans-serif;
}

